.contactContainer {
  display: flex;
  flex-direction: column;
}

.contactItem {
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
  gap: 8px;
}

.deleteBtn {
  border-radius: 4px;
  height: 25px;
  background-color: rgb(65, 50, 50);
  color: rgb(221, 210, 206);
  margin-top: 8px;
  width: 150px;
  border: 1px solid #0c311e;
}

.deleteBtn:hover {
  background-color: rgb(107, 50, 50);
  color: rgb(221, 210, 206);
}

.contactName {
  text-overflow: ellipsis;
  max-width: 150px;
  overflow: hidden;
}
